In [77]:
import pandas as pd
import math
data = pd.read_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BlackFriday/train.csv')

In [78]:
df1 = data.copy()
df1 = df1.drop(columns=['User_ID','Product_ID'])
df1 = pd.get_dummies(df1, columns=['Gender','Age','Occupation','City_Category','Product_Category_1'])
df1.head()

,Stay_In_Current_City_Years,Marital_Status,Product_Category_2,Product_Category_3,Purchase,Gender_F,Gender_M,Age_0-17,Age_18-25,Age_26-35,...,Product_Category_1_11,Product_Category_1_12,Product_Category_1_13,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18,Product_Category_1_19,Product_Category_1_20
0,2,0,NaN,NaN,8370,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,6.0,14.0,15200,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,NaN,NaN,1422,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2,0,14.0,NaN,1057,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4+,0,NaN,NaN,7969,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
df3 = df1['Product_Category_2']
df4 = df1['Product_Category_3']
for i in range(1,21):
    ProductString = 'Product_Category_1_' + str(i)
    x = df3 == i    
    df1.loc[:,ProductString] = df1.loc[:,ProductString] + x.map({False: 0, True: 1})
    x = df4 == i    
    df1.loc[:,ProductString] = df1.loc[:,ProductString] + x.map({False: 0, True: 1})

In [80]:
df2 = df1.copy()
df2 = df2.drop(columns=['Product_Category_2','Product_Category_3'])
df2['Stay_In_Current_City_Years'] = df2['Stay_In_Current_City_Years'].map({'0': 0, '1': 1, '2': 2, '3': 3, '4+': 4})

In [81]:
X = df2.drop(columns=['Purchase'])
y = df2['Purchase']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.0001,random_state=0)

In [83]:
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [84]:
y_pred = my_model.predict(X_test)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

2501.6337280273438

In [85]:
data2 = pd.read_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BlackFriday/test.csv')
df21 = data2.copy()
df21 = df21.drop(columns=['User_ID','Product_ID'])
df21 = pd.get_dummies(df21, columns=['Gender','Age','Occupation','City_Category'])
df23 = df21['Product_Category_2']
df24 = df21['Product_Category_3']
df25 = df21['Product_Category_1']
for i in range(1,21):
    ProductString = 'Product_Category_1_' + str(i)
    df21[ProductString] = 0
    x = df23 == i    
    df21.loc[:,ProductString] = df21.loc[:,ProductString] + x.map({False: 0, True: 1})
    x = df24 == i    
    df21.loc[:,ProductString] = df21.loc[:,ProductString] + x.map({False: 0, True: 1})
    x = df25 == i
    df21.loc[:,ProductString] = df21.loc[:,ProductString] + x.map({False: 0, True: 1})
df22 = df21.copy()
df22 = df22.drop(columns=['Product_Category_1','Product_Category_2','Product_Category_3'])
df22['Stay_In_Current_City_Years'] = df22['Stay_In_Current_City_Years'].map({'0': 0, '1': 1, '2': 2, '3': 3, '4+': 4})
df22.columns
y_pred2 = my_model.predict(df22)
my_submission = pd.DataFrame({'User_ID': data2.User_ID, 'Product_ID': data2.Product_ID, 'Purchase': y_pred2})
my_submission.to_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BlackFriday/sample_submission.csv', index=False)

In [72]:
df2.columns

Index(['Stay_In_Current_City_Years', 'Marital_Status', 'Purchase', 'Gender_F',
       'Gender_M', 'Age_0-17', 'Age_18-25', 'Age_26-35', 'Age_36-45',
       'Age_46-50', 'Age_51-55', 'Age_55+', 'Occupation_0', 'Occupation_1',
       'Occupation_2', 'Occupation_3', 'Occupation_4', 'Occupation_5',
       'Occupation_6', 'Occupation_7', 'Occupation_8', 'Occupation_9',
       'Occupation_10', 'Occupation_11', 'Occupation_12', 'Occupation_13',
       'Occupation_14', 'Occupation_15', 'Occupation_16', 'Occupation_17',
       'Occupation_18', 'Occupation_19', 'Occupation_20', 'City_Category_A',
       'City_Category_B', 'City_Category_C', 'Product_Category_1_1',
       'Product_Category_1_2', 'Product_Category_1_3', 'Product_Category_1_4',
       'Product_Category_1_5', 'Product_Category_1_6', 'Product_Category_1_7',
       'Product_Category_1_8', 'Product_Category_1_9', 'Product_Category_1_10',
       'Product_Category_1_11', 'Product_Category_1_12',
       'Product_Category_1_13', 'Product_Category_1_14',
       'Product_Category_1_15', 'Product_Category_1_16',
       'Product_Category_1_17', 'Product_Category_1_18',
       'Product_Category_1_19', 'Product_Category_1_20'],
      dtype='object')