In [68]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [171]:
data = pd.read_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BigMartSales/Train_data.csv')
df1 = data.copy()

In [1]:
df1

In [2]:
df1.Item_Type.value_counts()

In [185]:
df2meanweight = df2['Item_Weight'].mean()

In [174]:
df2 = df1.drop(columns=['Item_Identifier'])
df2['Item_Weight'] = df2['Item_Weight'].fillna(df2['Item_Weight'].mean())
df2['Item_Fat_Content'] = df2['Item_Fat_Content'].map({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat', 'Low Fat': 'Low Fat', 'Regular': 'Regular'})
df2 = pd.get_dummies(df2, columns=['Item_Type', 'Outlet_Identifier', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Fat_Content'])
df2['Outlet_Size'] = df2['Outlet_Size'].map({'Small': 1, 'Medium': 2, 'High': 3})
df2['Outlet_Size'] = df2['Outlet_Size'].fillna(method='ffill')

In [175]:
for col in df2.columns:
    #print(col + ' ' + str(df2[col].dtype))
    df2[col] = df2[col].astype('float64')
df2_train = df2.drop(columns=['Item_Outlet_Sales'])
df2_test = df2['Item_Outlet_Sales']

In [176]:
X_train, X_test, y_train, y_test = train_test_split(df2_train, df2_test, test_size=0.2,random_state=2)
#from sklearn.preprocessing import Imputer
#imp = Imputer(missing_values="NaN", strategy="mean")
#X_train = imp.fit_transform(X_train)
#X_test = imp.transform(X_test)

In [177]:
from xgboost import XGBRegressor
my_model = XGBRegressor()
my_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [178]:
y_pred = my_model.predict(X_test)

In [179]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

788.5107036883522

In [213]:
data2 = pd.read_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BigMartSales/Test_data.csv')
df3 = data2.copy()
df3 = df3.drop(columns=['Item_Identifier'])
df3['Item_Weight'] = df3['Item_Weight'].fillna(df2meanweight)
df3['Item_Fat_Content'] = df3['Item_Fat_Content'].map({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat', 'Low Fat': 'Low Fat', 'Regular': 'Regular'})
df3 = pd.get_dummies(df3, columns=['Item_Type', 'Outlet_Identifier', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Fat_Content'])
df3['Outlet_Size'] = df3['Outlet_Size'].map({'Small': 1, 'Medium': 2, 'High': 3})
df3['Outlet_Size'] = df3['Outlet_Size'].fillna(method='ffill')

In [214]:
df3.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Outlet_Identifier_OUT049,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular
count,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,...,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000,5681.000000
mean,12.723467,0.065684,141.023273,1997.828903,1.770815,0.077099,0.029044,0.013378,0.076571,0.079916,...,0.109136,0.280232,0.326703,0.393065,0.127090,0.654286,0.108784,0.109840,0.645661,0.354339
std,4.245629,0.051252,61.809091,8.372256,0.696773,0.266772,0.167945,0.114897,0.265933,0.271186,...,0.311837,0.449152,0.469049,0.488474,0.333103,0.475642,0.311395,0.312718,0.478355,0.478355
min,4.555000,0.000000,31.990000,1985.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.195000,0.027047,94.412000,1987.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.857645,0.054154,141.415400,1999.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,15.850000,0.093463,186.026600,2004.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,21.350000,0.323637,266.588400,2009.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [215]:
for col in df3.columns:
    df3[col] = df3[col].astype('float64')

In [216]:
y_pred = my_model.predict(df3)

In [217]:
y_pred

array([1565.7053, 1427.0529,  605.4994, ..., 1862.7042, 3659.0652,
       1277.3026], dtype=float32)

In [219]:
my_submission = pd.DataFrame({'Item_Identifier': data2.Item_Identifier, 'Outlet_Identifier': data2.Outlet_Identifier, 'Item_Outlet_Sales': y_pred})
my_submission.to_csv('C:/Users/dus79/Desktop/Tech/DataScience/Projects/More projects/BigMartSales/sample_submission.csv', index=False)

In [218]:
y_pred.size

5681